	<div class="row" ng-controller="SpeciesCtrl">
		<div class="section-container auto" data-section>
			<section>
			    <p id="firstStop" class="title" data-section-title ng-click='sectionChangeIn()'><a href="#panel1">Animalia</a></p>
			    <div class="content" data-section-content>
			    	<div class="row">
			      		<div class="large-3 columns">
			      			<div id="secondStop" class="panel pointer" ng-click="select('Mammalia', 'class_name')">Mammalia</div>
			      			<div class="panel pointer" ng-click="select('Actinopterygii', 'class_name')">Actinopterygii </div>
			      		</div>
			      		<div class="large-3 columns">
			      			<div class="panel pointer" ng-click="select('Aves', 'class_name')">Aves</div>
			      			<div class="panel pointer" ng-click="select('Insecta', 'class_name')">Insecta</div>
			      		</div>
			      		<div class="large-3 columns">
			      			<div class="panel pointer" ng-click="select('Reptilia', 'class_name')">Reptilia</div>
			      			<div class="panel pointer" ng-click="select('Hirudinoidea', 'class_name')">Hirudinoidea</div>
			      		</div>
			      		<div class="large-3 columns">
			      			<div class="panel pointer" ng-click="select('Amphibia', 'class_name')">Amphibia</div>
			      			<div class="panel pointer" ng-click="select('Gastropoda', 'class_name')">Gastropoda</div>
			      		</div>
			      	</div>

			    </div>
			</section>

			<section>
			    <p class="title" data-section-title ng-click='sectionChangeIn()'><a href="#panel2">Plantae</a></p>
			    <div class="content" data-section-content>
			     	<div class="row">
			      		<div class="large-4 columns">
			      			<div class="panel pointer" ng-click="select('Amarylidaceae', 'family_name')">Amarylidaceae</div>
			      			<div class="panel pointer" ng-click="select('Lycopodiaceae', 'family_name')">Lycopodiaceae</div>
			      			<div class="panel pointer" ng-click="select('Primulaceae', 'family_name')">Primulaceae</div>
			      		</div>
			      		<div class="large-4 columns">
			      			<div class="panel pointer" ng-click="select('Compositae', 'family_name')">Compositae</div>
			      			<div class="panel pointer" ng-click="select('Menyanthaceae', 'family_name')">Menyanthaceae</div>
			      			<div class="panel pointer" ng-click="select('Ranunculaceae', 'family_name')">Ranunculaceae</div>
			      		</div>
			      		<div class="large-4 columns">
			      			<div class="panel pointer" ng-click="select('Euphorbiaceae', 'family_name')">Euphorbiaceae</div>
			      			<div class="panel pointer" ng-click="select('Orchidaceae', 'family_name')">Orchidaceae</div>
			      			<div class="panel pointer" ng-click="select('Taxaceae', 'family_name')">Taxaceae</div>
			      		</div>
			      	</div>

			      </div>
			</section>

			<section>
				<p class="title" data-section-title ng-click='sectionChangeOut()'><a href="#panel2">Tax Tree</a></p>
			    <div class="content" data-section-content>
				    <div id="chart2">
				    	<svg id="tree" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>
				    </div>
				        <%= javascript_include_tag "d3.v3.min" %>
    						<%= javascript_include_tag "tree" %>
					</div>
			</section>
			<section>
				<p class="title" data-section-title ng-click='sectionChangeOut()'><a href="#panel2">Game</a></p>
			    <div class="content" data-section-content>
				    <div id="game" ng-controller="GameCtrl">
				    	<h3>Match species's names with photos</h3>
				    	<button ng-click="start()" class="show" id="start_game_button">START</button>
				    	<div id="result" class="hidden">
				    		<span class="level"></span>
				    		<ol>
				    			<li ng-repeat="question in all_questions">
				    				<img src="{{all_questions[$index]['img']}}" class="img_small_answer">
				    				<ul id="{{$index}}">
				    					<li ng-repeat="answer in question">
				    						{{answer.full_name}}
				    					</li>
				    				</ul>
				    			</li>
				    		</ol>
				    	</div>

				    	<div id="play_game" class="hidden">
				    		<p id="progress">{{question}}/10</p>
				    		<img id="guess_img" src="">

				    		<form name="myForm" ng-submit="check()">
				    			<ul>
				    				<li><input type="radio" ng-model="species" value="{{three_to_play[0]['full_name']}}"> {{three_to_play[0]['full_name']}} </li>
				    				<li><input type="radio" ng-model="species" value="{{three_to_play[1]['full_name']}}"> {{three_to_play[1]['full_name']}}</li>
				    				<li><input type="radio" ng-model="species" value="{{three_to_play[2]['full_name']}}"> {{three_to_play[2]['full_name']}}</li>
				    			</ul>
						     <input type="submit" value="Check!">

						     </form>

				    	</div>
				    </div>
			</div>
			</section>

		</div>


	<div class="row" id="cites">
   		<div class="large-12 column">
   			<label>CITES appendix</label>
			<div id="thirdStop" class="switch_species switch_species-four candy yellow">
				<input id="week61" name="view6" type="radio">
				<label for="week61" onclick="" ng-click="citesRestrict('I')">I</label>
				<input id="month62" name="view6" type="radio">
				<label for="month62" onclick="" ng-click="citesRestrict('II')">II</label>

				<input id="year63" name="view6" type="radio">
				<label for="year63" onclick="" ng-click="citesRestrict('III')">III</label>

				<input id="decade63" name="view6" type="radio" checked>
				<label for="decade63" onclick="" ng-click="citesRestrict('nc')">nc</label>

				<span class="slide-button"></span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="large-12 column">
				<ul class="species_list">
					<li ng-repeat="elem in final_chosen"><a href="/species/{{elem.full_name}}">{{elem.full_name}}</a> <em>{{elem.english_names}}</em></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="large-12 column">
			<ul class="species_similar species_list">
				<% if @message.present? %>
					<h4><%= @message %></h4>
					<% if @species_similar.length > 0 %>
						<% @species_similar.each do |species| %>
							<li>
								<a href="/species/<%= species['full_name'] %>"><%= species['full_name'] %></a> <em><%= species['english_names'][0]%></em>
							</li>
						<% end %>
					<% else %>
						<a href="/static_pages/sad_panda.html"><%= @creature %></a> <em><%= @creature %></em>
					<% end %>
				<% end %>
			</ul>
		</div>
	</div>
</div>
<%= javascript_include_tag "buttons" %>
<%= javascript_include_tag "species_numbers" %>
<%= javascript_include_tag "game" %>
