  <div class="row">
    <div class="large-3">
      <h2 class="label" id="creature"><%= link_to '+', root_path %><%= @creature["full_name"] %><a href="#taxonomy" class="small_menu">taxonomy </a><a href="#habitat" class="small_menu">habitat</a></h2>
    </div>
  </div>

  <div class="row">

    <!-- ROW table + pictures + chart -->
    <div class="row">
      <div class="large-7 columns">

        <table class="large-12 columns creature_descr">
          <% @tax.each do |level| %>
            <tr>
              <td class="large-4 columns level"> <%= level.capitalize.gsub("_", " ") %>: </td>
              <td class="large-8 columns" id="<%= level %>">
                <% if level == "english_names" %>
                  <%= @creature[level].join(", ") %>
                <% else %>
                  <%= @creature[level] %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
        <span id="id_gbif" style="display: none;"><%= @id_gbif %></span>

      </div>

      <div class="large-5 columns">
        <div class="row">
          <div class="large-12 columns animal_imgs">
            <% if @images.count > 0 %>
              <div class="row">
                <div class="large-6 columns img_thumb">
                  <img src="<%= @images[0] %>" alt="<%= @creature["full_name"]%>"/>
                </div>
                <div class="large-6 columns img_thumb">
                  <img src="<%= @images[1] %>" alt="<%= @creature["full_name"]%>"/>
                </div>
              </div>
              <div class="row">
                <div class="large-6 columns img_thumb">
                  <img src="<%= @images[2] %>" alt="<%= @creature["full_name"]%>"/>
                </div>
                <div class="large-6 columns img_thumb">
                  <img src="<%= @images[3] %>" alt="<%= @creature["full_name"]%>"/>
                </div>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <h3 id="taxonomy" class="small_title" >Taxonomy tree for <%= @creature['full_name'] %><a href="#creature" class="small_menu">data</a><a href="#habitat" class="small_menu">habitat</a></h3>
      <div id="chart2">
        <svg id="tree" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>
      </div>
      <%= javascript_include_tag "d3.v3.min" %>
      <%= javascript_include_tag "tree" %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <h3 id="habitat" class="small_title" ><%= @creature['full_name']%> habitat<a href="#creature" class="small_menu">data</a><a href="#taxonomy" class="small_menu">taxonomy</a></h3>
      <div id="map" style="width: 800px; height: 500px;"></div>
      <%= javascript_include_tag "maps" %>
    </div>
  </div>

