  <div class="row">
      <div class="large-12 columns">
        <h2>SPECIES+</h2>
      </div>
  </div>


  <div class="row">
    <div class="large-3">
      <span class="label">Name: <%= @creature["full_name"] %></span>
    </div>
  </div>

  <div class="row">

    <!-- ROW table + pictures + chart -->
    <div class="row">
      <div class="large-7 columns">

        <table class="large-12 columns creature_descr">
          <% @tax.each do |level| %>
            <tr>
              <td class="large-4 columns level"> <%= level.capitalize.gsub("_", " ") %>: </td>
              <td   class="large-8 columns">
                <% if level == "english_names" %>
                  <%= @creature[level].join(", ") %>
                <% else %>
                  <%= @creature[level] %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>

      </div>

      <div class="large-5 columns">
        <div class="row">
          <div class="large-12 columns animal_imgs">
            <% if @images.count > 0 %>
              <div class="row">
                <div class="large-6 columns img_thumb">
                  <img src="<%= @images[0] %>" />
                </div>
                <div class="large-6 columns img_thumb">
                  <img src="<%= @images[1] %>" />
                </div>
              </div>
              <div class="row">
                <div class="large-6 columns img_thumb">
                  <img src="<%= @images[2] %>" />
                </div>
                <div class="large-6 columns img_thumb">
                  <img src="<%= @images[3] %>" />
                </div>
              </div>
            <% end %>

            </div>
          </div>
        </div>


      </div>
    </div>
  </div>


    </div>

    <div class="large-6 columns">

    </div>
  </div>

