<!DOCTYPE html>
<html ng-app>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />
    <!-- favicon -->
    <link rel="shortcut icon" href="<%= asset_path ('iconmonstr-plus-4-icon-20130819-favicon.ico') %>" >
  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= include_gon %>
  	<title><%= content_for?(:title) ? yield(:title) : "SPECIES+" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
    <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Armata&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <!-- Leaflet -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    <script src="https://www.google.com/jsapi"></script>


  </head>

  <body>
    <div class="row" >
      <div class="large-9 columns">
        <h2><%= link_to 'SPECIES+', root_path %></h2>
      </div>
      <div class="large-3 columns">
        <%= form_tag("/search", method: "get", class: "search_form") do %>
            <%= text_field "species", "name", "size" => 25, "placeholder" => "Type species name" %>
        <% end %>
      </div>
    </div>

    <%= yield %>
    <ol class="joyride-list" data-joyride>
      <li data-id="firstStop" data-button="Next" data-options="tipLocation:top;tipAnimation:fade">
        <p>Choose the Kingdom you're interested in</p>
      </li>
      <li data-id="secondStop" data-class="custom so-awesome" data-button="Next">
        <h4>Classes/Families</h4>
        <p>Choose class(es)/family(ies) of creatures</p>
      </li>
      <li data-id="thirdStop" data-button="Next" data-options="tipLocation:bottom">
        <h4>CITES</h4>
        <p>Choose the level of endangered species</p>
      </li>
      <li data-options="nextButton:false">
        <h4>Enjoy</h4>
        <p>Now you can learn about creature!</p>
      </li>
    </ol>
    <div class="row">
      <footer class="large-12 colunms">
          <div class="large-4 columns">
            <h6>What is it?</h6>
            <p>This project was created by <a href="https://twitter.com/bike_lover_ka/">Alicja Cyganiewicz</a> and <a href="https://twitter.com/wdalach/">Wiktoria Dalach</a> during <a href="http://railsgirlssummerofcode.org/">Rails Girls Summer of Code</a>. It shows endagered species in Poland.
            </p>
            <p>
              <ul class="icons_list">
                <li><a href="https://github.com/unepwcmc/SAPI-client"><img src="<%= asset_path ('iconmonstr-github-9-icon.png') %>" class="icons"></a></li>
                <li><a href="http://dalach.blogspot.com/search/label/RGSoC"><img src="<%= asset_path ('iconmonstr-blogger-4-icon.png') %>" class="icons"></a></li>
                <li><a href="http://teams.railsgirlssummerofcode.org/teams/7"><img src="<%= asset_path ('iconmonstr-info-5-icon.png') %>" class="icons" ></a></li>
              </ul>
            </p>
          </div>
          <div class="large-4 columns">
            <h6>Want to see more?</h6>
            <ul>
              <li><a href="http://www.unep-wcmc.org/">UNEP WCMC</a></li>
              <li><a href="http://cites-checklist.unepwcmc-004.vm.brightbox.net/">CITES checklist</a></li>
              <li><a href="http://sapi.unepwcmc-004.vm.brightbox.net/species/">Species+ API</a></li>
              <li><a href="http://uat.gbif.org/developer/maps">Geolocalisation data</a></li>
            </ul>
          </div>
          <div class="large-4 columns">
            <h6>How to use?</h6>
            <p>If you don't know how to use the data</p>
            <button id="button_how_to">Show me how to</button>
            <!-- <button id="button_update">Update data</button> -->
          </div>
      </footer>
    </div>
    <%= javascript_include_tag "species" %>
    <%= javascript_include_tag "prism" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "update" %>
    <script type="text/javascript">
      $('#button_how_to').on('click', function(){
        $(document).foundation('joyride', 'start');
      });
    </script>
  </body>
</html>
